{{define "content"}}
{{ if .Error }}
<div class="notification is-danger">
    <button class="delete"></button>
    {{ .Error }}
</div>
{{ end }}
<h1 class="title is-3">Login</h1>
<form method="post">
    {{ .CSRF }}
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" name="username" id="username" value="{{ .Username }}" required pattern="[0-9A-Za-z/\s-]*">
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="password" name="password" id="password" required>
    </div>
    <input class="button is-primary" type="submit" name="login" value="Login">
</form>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
{{end}}