{{ define "content" }}

{{ if .Notification }}
<div class="notification is-success">
    {{ .Notification }}
</div>
{{ end }}

<h1 class="title is-3">Roles</h1>

<table class="table is-narrow">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified By</th>
            <th scope="col">Modified At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $results := .Roles }}
        <tr>
            <th scope="row">{{ $index }}</th>
            <td>{{ .Name }}</td>
            <td>{{ .Description }}</td>
            <td>{{ .CreatedBy }}</td>
            <td>{{ .CreatedAt.Format "2006-Jan-02 03:04:05 AM MST" }}</td>
            <td>{{ .ModifiedBy }}</td>
            <td>{{ .ModifiedAt.Format "2006-Jan-02 03:04:05 AM MST" }}</td>
            <td>
                <a class="button is-info" href="/roles/update/{{ .ID }}">Update</a>
                <a class="button is-danger" href="/roles/delete/{{ .ID }}">Delete</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

<a class="button is-primary" href="/roles/create">Create</a>

{{ end }}