{{ define "content" }}
{{ if .Notification }}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ .Notification }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ end }}
<h1>Roles</h1>
<hr>
<table id="datatable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Group</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Roles }}
        <tr>
            <th>{{ .Name }}</th>
            <td>{{ .Description }}</td>
            <td>{{ .Group }}</td>
            <td>
                {{ if and (ne .Name "Admin") (ne .Name "Read Only") }}
                <div class="form-inline">
                    <a class="btn btn-info btn-sm mx-1" href="/role/read/{{ .ID }}" aria-label="Read {{ .Name }}"><i class="far fa-eye"></i></a>
                    <a class="btn btn-primary btn-sm mx-1" href="/role/update/{{ .ID }}" aria-label="Update {{ .Name }}"><i class="far fa-edit"></i></a>
                    <form method="POST" action="/role/delete/{{ .ID }}" accept-charset="UTF-8">
                        {{ $.CSRF }}
                        <button class="btn btn-danger btn-sm mx-1" type="submit" name="Delete {{ .Name }}" value="Delete"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<hr>
<a class="btn btn-primary" href="/role/create">Create</a>
{{ end }}