{{ define "content" }}
{{ if .Notification }}
<div class="notification is-success">
    <button class="delete"></button>
    {{ .Notification }}
</div>
{{ end }}
<h1 class="title is-3">Roles</h1>
<hr>
<div id="hide" >
    <script>
        var hide = document.getElementById("hide");
        hide.style.display = "none";
    </script>
    <table id="datatable" class="datatable table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col" class="is-hidden-mobile">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $results := .Roles }}
            <tr>
                <th scope="row" class="is-hidden-mobile">{{ $index }}</th>
                <td>{{ .Name }}</td>
                <td>{{ .Description }}</td>
                <td>
                    <a class="button is-link is-small" href="/role/read/{{ .ID }}" aria-label="Read {{ .Name }}">Read</a>
                    <a class="button is-info is-small" href="/role/update/{{ .ID }}" aria-label="Update {{ .Name }}">Update</a>
                    <a class="button is-danger is-small" href="/role/delete/{{ .ID }}" aria-label="Delete {{ .Name }}">Delete</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <hr>
    <a class="button is-primary" href="/role/create">Create</a>
</div>
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "order": [[ 1, "asc" ]],
            "initComplete": function() {
                $('#hide').show();
            }
        });
    });
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
{{ end }}