{{ define "content" }}
<h1 class="title is-3">{{ .Title }}</h1>
<hr>
<form method="post">
    {{ .CSRF }}
    <div class="field">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" name="name" id="name" value="{{ .Role.Name }}" required pattern="[0-9A-Za-z/\s-]*">
    </div>
    <div class="field">
        <label class="label" for="description">Description</label>
        <input class="input" type="text" name="description" id="description" value="{{ .Role.Description }}" required>
    </div>
    <input class="button is-primary" type="submit" name="add" value="{{ .Action }}">
    <a class="button is-secondary" href="/role/list">Cancel</a>
</form>
{{ if .Role.CreatedBy }}
<hr>
<p><strong>Created by:</strong> {{ .Role.CreatedBy }} @ {{ timestamp .Role.CreatedAt }}</p>
<p><strong>Modified by:</strong> {{ .Role.ModifiedBy }} @ {{ timestamp .Role.ModifiedAt }}</p>
{{ end }}
{{ end }}