{{ define "content" }}
{{ if .Notification }}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ .Notification }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ end }}
<h1>Routes</h1>
<hr>
<form method="post">
    {{ .CSRF }}
    <table id="datatable" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Route</th>
                <th scope="col">Permission</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $route := .Routes }}
            <tr>
                <th>
                    {{ range $role := $.Roles }}
                        {{ if eq $role.ID $route.RoleID }}
                            {{ $role.Name }}
                        {{ end }}
                    {{ end }}
                </th>
                <td>{{ .Path }}</td>
                <td>
                    <label class="checkbox">
                    <input type="checkbox" name="{{ .ID }}" id="{{ .ID }}" onchange="toggleCheckbox(this)" {{ if .Permission }}checked{{ end }}>
                        Select
                    </label>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <hr>
    <input class="btn btn-primary" type="submit" name="update" value="Update">
    <a class="btn btn-secondary" href="/route/list">Cancel</a>
    {{range $index, $element := .Routes}} 
    <input type="hidden" id="hidden{{ $element.ID }}" name="hidden{{ $element.ID }}" value="{{ if $element.Permission }}checked{{ end }}">
    {{end}}
</form>
{{ end }}