body {
    font-family: Arial, sans-serif;
    background: white;
    color: darkslategrey;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-gap: 10px 10px;
}
body > header {
    grid-area: "header";
    background: #8ca0ff;
}
body > main {
    grid-area: "main";
    background: #ffff64;
}
body > footer {
    grid-area: "footer";
    background: #8cffa0;
}

.error {
    color: red;
    background-color: #FFD2D2;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid darkslategrey;
}


/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login {
        display: grid;
        grid-template-columns: 100px 1fr; 
        grid-gap: 10px; 
    }
    .login-label {
        grid-column: 1 / span 3;
    }
    .login-input {
        grid-column: 1 / span 3;
    }
    .login-submit {
        grid-column: 1;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .login {
        display: grid;
        grid-template-columns: 100px 480px 1fr; 
        grid-gap: 10px;
    }
    .login-label {
        grid-column: 1 / span 3;
    }
    .login-input {
        grid-column: 1 / span 2;
    }
    .login-submit {
        grid-column: 1;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
