{{ define "content" }}
{{ if .Notification }}
<div class="notification is-success">
    {{ .Notification }}
</div>
{{ end }}
<h1 class="title is-3">Routes</h1>
<hr>
<div id="hide" style="display: none;">
    <table id="datatable" class="datatable table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col" class="is-hidden-mobile">#</th>
                <th scope="col">RoleID</th>
                <th scope="col">Role</th>
                <th scope="col">Route</th>
                <th scope="col">Permission</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $route := .Routes }}
            <tr>
                <th scope="row" class="is-hidden-mobile">{{ $index }}</th>
                <td>{{ .RoleID }}</td>
                <td>
                    {{ range $role := $.Roles }}
                        {{ if eq $role.ID $route.RoleID }}
                            {{ $role.Name }}
                        {{ end }}
                    {{ end }}
                </td>
                <td>{{ .Path }}</td>
                <td>{{ .Permission }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "order": [[ 1, "asc" ]],
            "initComplete": function() {
                $('#hide').show();
            }
        });
    });
    // Since Go ParseForm is unable to collect data from the paginated checkboxes that 
    // are out of view. Hidden form inputs that match the checkboxes have been added
    // to collect checkbox data.
    function toggleCheckbox(element)
    {
        var name = $(element).attr("name");
        var hiddenName = "#hidden" + name;
        if ($(element).is(":checked")) { 
            $(hiddenName).val("checked");
        } else {
            $(hiddenName).val("");
        }
    }
</script>
{{ end }}