{{ define "content" }}
<h1>{{ .Title }}</h1>
<hr>
<form method="post">
    {{ .CSRF }}
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" value="{{ .User.Username }}" required pattern="[0-9A-Za-z/\s-]*" readonly>
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role" name="role">
            <option value="">Please select a Role</option>
            {{ range $role := $.Roles }}
            <option value="{{ $role.ID }}" {{ if eq $role.ID $.User.RoleID }}selected{{ end }}>{{ $role.Name }}</option>
            {{ end }}
        </select>
    </div>
    <input class="btn btn-primary" type="submit" name="update" value="{{ .Action }}">
    <a class="btn btn-secondary" href="/user/list">Cancel</a>
</form>
<hr>
<p><strong>Created by:</strong> {{ .User.CreatedBy }} @ {{ timestamp .User.CreatedAt }}</p>
<p><strong>Modified by:</strong> {{ .User.ModifiedBy }} @ {{ timestamp .User.ModifiedAt }}</p>
{{ end }}