{{ define "content" }}
{{ if .Notification }}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ .Notification }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ end }}
<h1>Users</h1>
<hr>
<table id="datatable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $user := .Users }}
        <tr>
            <td>{{ .Username }}</td>
            <td>
                {{ range $role := $.Roles }}
                    {{ if eq $role.ID $user.RoleID }}
                        {{ $role.Name }}
                    {{ end }}
                {{ end }}
            </td>
            <td>
                <a class="btn btn-info btn-sm" href="/user/read/{{ .ID }}" aria-label="Read {{ .Username }}" style="margin: 0;"><i class="far fa-eye"></i></a>
                <a class="btn btn-primary btn-sm" href="/user/update/{{ .ID }}" aria-label="Update {{ .Username }}" style="margin: 0;"><i class="far fa-edit"></i></a>
                <a class="btn btn-danger btn-sm" href="/user/delete/{{ .ID }}" aria-label="Delete {{ .Username }}" style="margin: 0;"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}