{{define "head"}}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/bulma/0.7.4/css/bulma.min.css">

        <!-- jQuery -->
        <script src="/static/jquery/3.3.1/js/jquery-3.3.1.js"></script>  

        <!-- jQuery Datatables https://datatables.net/ -->
        <link href="/static/jquery-datatables/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <script src="/static/jquery-datatables/1.10.19/js/jquery.dataTables.min.js"></script> 

        <title>github.com/go-stuff/web</title>
    </head>
{{end}}