{{define "nav"}}
<p class="menu-label has-text-black is-sr-only">Menu</p>
<ul class="menu-list is-sr-only">
    <li class="is-sr-only"><a href="#main">Skip to main content</a></li>
</ul>
<p class="menu-label has-text-black"><strong>Admin</strong></p>
<ul class="menu-list">
    <li><a href="/role/list">Roles</a></li>
    <li><a href="/route/list">Routes</a></li>
    <li><a href="/server/list">Servers</a></li>
    <li><a href="/session/list">Sessions</a></li>
    <li><a href="/user/list">Users</a></li>
</ul>
<p class="menu-label has-text-black"><strong>General</strong></p>
<ul class="menu-list">
    <li><a href="/home">Home</a></li>
    <li class="is-hidden-desktop"><a href="/logout">Logout</a></li>
</ul>
{{end}}