{{ define "script" }}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- datatables.net -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    $('<div class="loading">Loading</div>').appendTo('body');

    // Handle datatables
    $(document).ready(function() {
        $('#datatable').DataTable({
            "initComplete": function( settings, json ) {
                $('div.loading').remove();
            }
        });
    });

    // Since Go ParseForm is unable to collect data from the paginated checkboxes that 
    // are out of view. Hidden form inputs that match the checkboxes have been added
    // to collect checkbox data.
    function toggleCheckbox(element)
    {
        var name = $(element).attr("name");
        var hiddenElement = "#hidden" + name;
        if ($(element).is(":checked")) { 
            $(element).val("checked");
            $(hiddenElement).val("checked");
        } else {
            $(element).val("");
            $(hiddenElement).val("");
        }
    }
</script>
{{ end }}