{{ define "content" }}
<h1 class="title is-3">{{ .Title }}</h1>
<hr>
<form method="post">
    {{ .CSRF }}
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" name="username" id="username" value="{{ .User.Username }}" required pattern="[0-9A-Za-z/\s-]*">
    </div>
    <div class="field">
        <label class="label" for="role">Role</label>
        <div class="control">
            <div class="select">
                <select id="role" name="role">
                    <option value="">Please select a Role</option>
                    {{ range $role := $.Roles }}
                    <option value="{{ $role.ID }}" {{ if eq $role.ID $.User.RoleID }}selected{{ end }}>{{ $role.Name }}</option>
                    {{ end }}                    
                </select>
            </div>
        </div>        
    </div>
    <input class="button is-primary" type="submit" name="add" value="{{ .Action }}">
    <a class="button is-secondary" href="/users">Cancel</a>
</form>
{{ if .User.CreatedBy }}
<hr>
<p><strong>Created by:</strong> {{ .User.CreatedBy }} @ {{ timestamp .User.CreatedAt }}</p>
<p><strong>Modified by:</strong> {{ .User.ModifiedBy }} @ {{ timestamp .User.ModifiedAt }}</p>
{{ end }}
{{ end }}